<div id="root" />
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div id='int2kjson' data-json='{{int2k}}'></div>
<div id='reviewsjson' data-json='{{reviews}}'></div>

<script type="text/babel">
  const rootElement = document.getElementById('root');

  const {
    List,
    ListItem,
    ListItemText,
    ListItemAvatar,
    Avatar,
    Button,
    Select,
    MenuItem,
    TextField,
    Typography,
    Divider
  } = MaterialUI;

  const el = document.querySelector('#int2kjson');
  const elReview = document.querySelector('#reviewsjson')

  console.log(el.dataset.json)
  console.log(elReview.dataset.json)
  const items = JSON.parse((el.dataset.json));
  const reviews = JSON.parse((elReview.dataset.json));

  const category = "{{category}}".toUpperCase();

  console.log("{{genre}}")
  console.log("{{author}}")
  const highlight = {
      color: 'blue',
      fontWeight: 'bold',
      margin: '5px',
    };
  const listSpacing = {
    margin: '5px',
  };
  function reviewTemplate(value) {
    return <ListItem key={value['REVIEW_ID']} >
                          <Typography variant="body1" gutterBottom style={highlight}>
                            userid:
                          </Typography>
                          <Typography variant="body1" gutterBottom style={listSpacing}>
                            {value['USER_ID']} 
                          </Typography>
                          <Typography variant="body1" gutterBottom style={highlight}>
                            comment:
                          </Typography>
                          <Typography variant="body1" gutterBottom style={listSpacing}>
                            {value['COMMENT_TXT']} 
                          </Typography>
                          <Typography variant="body1" gutterBottom style={highlight}>
                            rating:
                          </Typography>
                          <Typography variant="body1" gutterBottom style={listSpacing}>
                            {value['RATING']} 
                          </Typography>
                        </ListItem>;
  }

  class App extends React.Component {
    
    state = {
      json: items,
      cat: category,
      reviewText:'',
      reviewRating:5,
      reviewUserName:'',
      reviewPassword:'',
      userReviews:reviews
    };
    componentDidMount() {
    
    }
    processclick = (props) => {
      window.location.href = '/item/' + this.state.cat.toLowerCase() + '/' + props.id;
    }
     
    addReview = async(props) => {
       const response = await fetch('/item/' + this.state.cat.toLowerCase() + '/' + props.id, {
            method: 'POST',
            headers: {'reviewText': this.state.reviewText, 'reviewRating': this.state.reviewRating, 'reviewUserName': this.state.reviewUserName, 'userPassword': this.state.reviewPassword}
        });
        if(!response.ok) {
          alert("Wrong credentials")
          window.location.href = '/item/' + this.state.cat.toLowerCase() + '/' + props.id
        }else
        window.location.href = '/item/' + this.state.cat.toLowerCase() + '/' + props.id
    }

    handleTextChange = event => {
      this.setState({reviewText: event.target.value})
    };

    handleUserNameChange = event => {
      this.setState({reviewUserName: event.target.value})
    }


    handlePasswordChange = event => {
      this.setState({reviewPassword: event.target.value})
    }

    handleRatingChange = event => {
      this.setState({reviewRating: event.target.value})
    }
    gohome = () => {
      window.location.href = '/store/'
    }
    render() {
      if (this.state.cat == "MOVIE") {
        return (
          <div>
            <Button variant="contained" onClick={() => this.gohome()}>
            HOME
            </Button>
            <Typography variant="body1" gutterBottom>
            ID: {this.state.json[0]["MOVIE_ID"]}  
            </Typography>
            <Avatar
                    src={this.state.json[0]['PICTURE']}
            />
            <Typography variant="body1" gutterBottom>
            NAME: {this.state.json[0]["NAME"]}  
            </Typography>

            <Typography variant="body1" gutterBottom>
            IMDB: {this.state.json[0]["IMDB"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            CATEGORY: {{genre}}
            </Typography>
            <Typography variant="body1" gutterBottom>
            RATING: {{rating}}
            </Typography>

            <List>
                {this.state.userReviews.map((value) => {
                    return reviewTemplate(value);
                })}
            </List>

            <Typography variant="body1" gutterBottom>
              put your comment:                
            </Typography>
            <TextField onChange={this.handleTextChange} />

            <Typography variant="body1" gutterBottom>
              put your rating (1 - 5):                
            </Typography>
            <TextField onChange={this.handleRatingChange} />

            <Typography variant="body1" gutterBottom>
              put your userName:                
            </Typography>
            <TextField onChange={this.handleUserNameChange} />

            <Typography variant="body1" gutterBottom>
              put your user password:                
            </Typography>
            <TextField onChange={this.handlePasswordChange} type="password"/>

            <Button onClick={() => this.addReview({
                id: this.state.json[0]['MOVIE_ID']})}>
              Submit
            </Button>

            <Divider />
            <Typography variant="body1" gutterBottom>
            SIMILAR ITEMS
            </Typography>

            <List>
                {this.state.json.map((value) => {
                  if (value['MOVIE_ID'] !== this.state.json[0]['MOVIE_ID'])
                    return <ListItem key={value['MOVIE_ID']} onClick={() => this.processclick({id: value['MOVIE_ID']})}>
                      <ListItemAvatar>
                      <Avatar
                        src={value['PICTURE']}
                      />
                    </ListItemAvatar>
                      <ListItemText primary={value['NAME']}/>
                    </ListItem>
                })}
            </List>

          </div>
        );
      }
      if (this.state.cat == "GAME") {
        return (
          <div>
            <Button variant="contained" onClick={() => this.gohome()}>
            HOME
            </Button>
            <Typography variant="body1" gutterBottom>
            ID: {this.state.json[0]["GAME_ID"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            PRICE: {this.state.json[0]["PRICE"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            NAME: {this.state.json[0]["NAME"]}  
            </Typography>
            <Typography variant="body1" gutterBottom>
            Installs: {this.state.json[0]["INSTALLS"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            CATEGORY: {{genre}}
            </Typography>
            <Typography variant="body1" gutterBottom>
            DEVELOPER: {{author}}
            </Typography>
            <Typography variant="body1" gutterBottom>
            RATING: {{rating}}
            </Typography>
            
            <List>
                {this.state.userReviews.map((value) => {
                  return reviewTemplate(value);
                })}
            </List>

            <Typography variant="body1" gutterBottom>
              put your comment:                
            </Typography>
            <TextField onChange={this.handleTextChange} />

            <Typography variant="body1" gutterBottom>
              put your rating (1 - 5):                
            </Typography>
            <TextField onChange={this.handleRatingChange} />

            <Typography variant="body1" gutterBottom>
              put your userName:                
            </Typography>
            <TextField onChange={this.handleUserNameChange} />

            <Typography variant="body1" gutterBottom>
              put your user password:                
            </Typography>
            <TextField onChange={this.handlePasswordChange} type="password"/>

            <Button onClick={() => this.addReview({
                id: this.state.json[0]['GAME_ID']})}>
              Submit
            </Button>

            <Divider />
            <Typography variant="body1" gutterBottom>
            SIMILAR ITEMS
            </Typography>

            <List>
                {this.state.json.map((value) => {
                  if (value['GAME_ID'] !== this.state.json[0]['GAME_ID'])
                    return <ListItem key={value['GAME_ID']} onClick={() => this.processclick({id: value['GAME_ID']})}>

                      <ListItemText primary={value['NAME']}/>
                    </ListItem>
                })}
            </List>


          </div>
        );
      }
      if (this.state.cat == "BOOK") {
        return (
          <div>
            <Button variant="contained" onClick={() => this.gohome()}>
            HOME
            </Button>
            <Typography variant="body1" gutterBottom>
            ID: {this.state.json[0]["BOOK_ID"]}  
            </Typography>
            <Typography variant="body1" gutterBottom>
            NAME: {this.state.json[0]["NAME"]}  
            </Typography>
            <Typography variant="body1" gutterBottom>
            PUBLISHING DATE: {this.state.json[0]["PUB_DATE"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            NUMBER OF PAGES: {this.state.json[0]["NUM_OF_PAGES"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            ISBN: {this.state.json[0]["ISBN"]}
            </Typography>
            <Typography variant="body1" gutterBottom>
            CATEGORY: {{genre}}
            </Typography>
            <Typography variant="body1" gutterBottom>
            AUTHOR: {{author}}
            </Typography>
            <Typography variant="body1" gutterBottom>
            RATING: {{rating}}
            </Typography>
            
            <List>
                {this.state.userReviews.map((value) => {
                  return reviewTemplate(value)
                })}
            </List>

            <Typography variant="body1" gutterBottom>
              put your comment:                
            </Typography>
            <TextField onChange={this.handleTextChange} />

            <Typography variant="body1" gutterBottom>
              put your rating (1 - 5):                
            </Typography>
            <TextField onChange={this.handleRatingChange} />

            <Typography variant="body1" gutterBottom>
              put your userName:                
            </Typography>
            <TextField onChange={this.handleUserNameChange} />

            <Typography variant="body1" gutterBottom>
              put your user password:                
            </Typography>
            <TextField onChange={this.handlePasswordChange} type="password"/>

            <Button onClick={() => this.addReview({
                id: this.state.json[0]['BOOK_ID']})}>
              Submit
            </Button>

            <Divider />
            <Typography variant="body1" gutterBottom>
            SIMILAR ITEMS
            </Typography>

            <List>
                {this.state.json.map((value) => {
                  if (value['BOOK_ID'] !== this.state.json[0]['BOOK_ID'])
                    return <ListItem key={value['BOOK_ID']} onClick={() => this.processclick({id: value['BOOK_ID']})}>

                      <ListItemText primary={value['NAME']}/>
                    </ListItem>
                })}
            </List>

          </div>
        );
      }

    }
  }

  ReactDOM.render(<App />, rootElement);
    
</script>
