<html>
<head>
    Hello,
</head>
<body>
    <div id="content"> Hello moth </div>
    <form action="">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p id="json">
        {{int2k}}
    </p>
    <script>
        console.log("{{int2k}}");
    </script>
</body>
</html>