<div id="root" />
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div data-json='{{int2k}}'></div>
<div category-json={{category}}></div>

<script type="text/babel">
  const rootElement = document.getElementById('root');

  const {
    List,
    ListItem,
    ListItemText,
    ListItemAvatar,
    Avatar
  } = MaterialUI;

  const el = document.querySelector('[data-json]');
  const items = JSON.parse((el.dataset.json));
  const ele = document.querySelector('[category-json]');

  const category = "{{category}}".toUpperCase();

  class App extends React.Component {
    state = {
      json: items,
      cat: category
    };
    componentDidMount() {
    
    }
    processclick = (props) => {

    }

    render() {
      return (
        <div>
          <List>
            {this.state.json.map((value) => {
              if (this.state.cat == "MOVIE")
                return <ListItem key={value['MOVIE_ID']}>
                  <ListItemAvatar>
                  <Avatar
                    src={value['PICTURE']}
                  />
                </ListItemAvatar>
                  <ListItemText primary={value['NAME']}/>
                </ListItem>
              if (this.state.cat == "GAME")
                return <ListItem key={value['GAME_ID']}>
                  <ListItemText primary={value['NAME']}/>
                </ListItem>
              if (this.state.cat == "BOOK")
                return <ListItem key={value['BOOK_ID']}>
                  <ListItemText primary={value['NAME']}/>
                </ListItem>

            })}
          </List>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, rootElement);
    
</script>
