{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <script type="text/javascript">
    /* Put your context vars here. I recommend putting them under 
        a variable to avoid naming conflicts. 
    */
    var context = {
        int2k: '{{int2k}}',
    };
  </script>
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    {% render_bundle 'main' 'css' %}
  </head>
  
  <body>
    <div id="react-app"></div>
    <p>{{int2k}}</p>
    {% render_bundle 'main' 'js' %}
  </body>
</html>