<div id="root" />
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<div data-json='{{int2k}}'></div>

<script type="text/babel">
  const rootElement = document.getElementById('root');
  const {
    List,
    ListItem,
    ListItemText,
    ListItemAvatar,
    Avatar,
    Button,
    Select,
    MenuItem,
    TextField,
    Typography,
    Divider
  } = MaterialUI;
  const el = document.querySelector('[data-json]');

  console.log(el.dataset.json)
  const items = JSON.parse((el.dataset.json));

  const Name = "{{userName}}";
  const highlight = {
      color: 'blue',
      fontWeight: 'bold',
      margin: '5px',
    };
  const listSpacing = {
    margin: '5px',
  };
  class App extends React.Component {
    state = {
      json: items,
      userName: Name,
      deletions: []
    };
    componentDidMount() {
    
    }
    processclick = (props) => {
        const children = event.target.parentElement.children;
        const parent = event.target.parentElement;
        for(var i = 0; i<children.length; i++){
            var temp = children[i]
            if (temp.style.textDecoration == 'none'){
                temp.style.textDecoration = 'line-through'
                if(!this.state.deletions.includes(props.id))
                    this.state.deletions.push(props.id)
            }else{
                this.state.deletions=this.state.deletions.filter(function(ele){ 
                    return ele != props.id; 
                });

                temp.style.textDecoration = 'none'
            }
            parent.replaceChild(temp,children[i])
        }
        console.log(this.state.deletions)
        // element.classList.toggle("crossed-line");
    }
    delete = (props) => {
        for(var i = 0; i<this.state.deletions.length; i++){
        fetch('/review/' + this.state.userName, {
            method: 'POST',
            headers: {'deleteReq': this.state.deletions[i]}
        }).then(function(response) {
            return
        })
    }
        window.location.href = '/review/' + this.state.userName;
    }

    render() {
        return (
          <div>
            <Typography variant="body1" gutterBottom>
            Reviews of user {this.state.userName}
            </Typography>
            <div/>
            <Typography variant="body1" gutterBottom>
            Select reviews to delete!
            </Typography>

            <List>
                {this.state.json.map((value) => {
                    return <ListItem key={value['REVIEW_ID']} onClick={() => this.processclick({id: value['REVIEW_ID']})}>
                                <Typography variant="body1" gutterBottom style={highlight}>
                                userid:
                                </Typography>
                                <Typography variant="body1" gutterBottom style={listSpacing}>
                                {value['USER_ID']} 
                                </Typography>
                                <Typography variant="body1" gutterBottom style={highlight}>
                                gameid:
                                </Typography>
                                <Typography variant="body1" gutterBottom style={listSpacing}>
                                {value['GAME_ID']} 
                                </Typography>
                                <Typography variant="body1" gutterBottom style={highlight}>
                                reviewid:
                                </Typography>
                                <Typography variant="body1" gutterBottom style={listSpacing}>
                                {value['REVIEW_ID']}  
                                </Typography>
                                <Typography variant="body1" gutterBottom style={highlight}>
                                comment_txt:
                                </Typography>
                                <Typography variant="body1" gutterBottom style={listSpacing}>
                                {value['COMMENT_TXT']}
                                </Typography>
                                <Typography variant="body1" gutterBottom style={highlight}>
                                rating:
                                </Typography>
                                <Typography variant="body1" gutterBottom style={listSpacing}>
                                {value['RATING']}
                                </Typography>
                            </ListItem>;
                })}
                <Typography variant="body1" gutterBottom>
                    put your userName:                
                </Typography>
                <TextField onChange={this.handleUserNameChange} />
                <Typography variant="body1" gutterBottom>
                    put your user password:                
                </Typography>
                <TextField onChange={this.handlePasswordChange} type="password"/>
                <Button onClick={() => this.delete()}>
                    Submit
                </Button>
            </List>

          </div>
        );
    }
  }

  ReactDOM.render(<App />, rootElement);
    
</script>
