<div id="root" />
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div data-json='{{int2k}}'></div>

<script type="text/babel">
  const rootElement = document.getElementById('root');
  const {
    List,
    ListItem,
    ListItemText,
    ListItemAvatar,
    Avatar,
    Button,
    Select,
    MenuItem,
    TextField,
    Typography,
    Divider
  } = MaterialUI;

  const el = document.querySelector('[data-json]');

  console.log(el.dataset.json)
  const items = JSON.parse((el.dataset.json));

  const Name = "{{userName}}";

  class App extends React.Component {
    state = {
      json: items,
      userName: Name,
    };
    componentDidMount() {
    
    }
    processclick = (props) => {
        fetch('/review/' + this.state.userName, {
            method: 'POST',
            headers: {'deleteReq': props.id}
        }).then(function(response) {
            return
        })
        window.location.href = '/review/' + this.state.userName;
    }

    render() {
        return (
          <div>
            <Typography variant="body1" gutterBottom>
            SIMILAR ITEMS
            </Typography>
            <List>
                {this.state.json.map((value) => {
                    return <ListItem key={value['REVIEW_ID']} onClick={() => this.processclick({id: value['REVIEW_ID']})}>
                        <Typography variant="body1" gutterBottom>
                            userid: {value['USER_ID']} .
                        </Typography>
                        <Typography variant="body1" gutterBottom>
                            gameid: {value['GAME_ID']} .
                        </Typography>
                        <Typography variant="body1" gutterBottom>
                            bookid: {value['BOOK_ID']} .
                        </Typography>
                        <Typography variant="body1" gutterBottom>
                            movieid: {value['MOVIE_ID']} .
                        </Typography>
                        <Typography variant="body1" gutterBottom>
                            reviewid: {value['REVIEW_ID']} .
                        </Typography>
                        <Typography variant="body1" gutterBottom>
                            comment_txt: {value['COMMENT_TXT']} .
                        </Typography>
                        <Typography variant="body1" gutterBottom>
                            rating: {value['RATING']} .
                        </Typography>
                    </ListItem>
                })}
            </List>

          </div>
        );
    }
  }

  ReactDOM.render(<App />, rootElement);
    
</script>
